# Data Types and Structures Questions

  # QUESTION 1 -What are data structures, and why are they important?

 ANS1   -
A data structure is a way of organizing and storing information in a computer so it can be used efficiently.

   Data structures are essential because they help computers process large amounts of data quickly and efficiently.

# QUESTION2 - Explain the difference between mutable and immutable data types with examples.


ANS2- Mutable data types allow their values to be changed after creation. Modifications occur in-place, meaning the memory location remains the same, and all references to the object reflect the changes.

# Question 3-  What are the main differences between lists and tuples in Python?

ANS 3- Mutability: List: Mutable, meaning its elements can be modified, added, or removed after creation. Tuple: Immutable, meaning its elements cannot be changed once defined. String: Immutable, similar to tuples, but specifically designed to store sequences of characters.

Syntax: List: Defined using square brackets []. Example: [1, 2, 3]. Tuple: Defined using parentheses (). Example: (1, 2, 3). String: Defined using quotes (' or "). Example: "hello".

Performance: Tuple: Faster than lists due to immutability and lower memory overhead. List: Slower compared to tuples because of dynamic resizing and mutability. String: Optimized for text operations but slower for large-scale manipulations due to immutability.

Methods: List: Offers extensive methods like append(), remove(), sort(), etc., for modification. Tuple: Limited methods like count() and index() due to immutability. String: Provides text-specific methods like split(), join(), replace(), etc.

# QUESTION 4-Describe how dictionaries store data.

Dictionaries store data as key-value pairs. They use a technique called hashing to quickly find values based on their unique keys. This makes adding, getting, and removing items very fast.

# QUESTION 5-Why might you use a set instead of a list in Python?

Answer 5-  A set is an unordered collection of unique elements. Sets are defined using curly braces {} or the set() constructor. We use a set when we need to store unique elements and do not care about the order. Sets are ideal for membership tests and eliminating duplicates.Use a set when you need to store unique elements and do not care about the order. Sets are ideal for membership tests and eliminating duplicates.

# Question 6- What is a string in Python, and how is it different from a list

Answer 6 --A string is a sequence of characters enclosed in single, double, or triple quotes. Strings are immutable, meaning their content cannot be changed after creation. They support operations like slicing, concatenation, and splitting.

 list of strings is a collection of string elements stored in a list. Lists are mutable, allowing modification of their elements. They are ideal for storing and manipulating multiple strings.

# Question 7--How do tuples ensure data integrity in Python?

Answer 7--Once a tuple is created, its elements cannot be changed, added, or removed. This immutability guarantees that the data remains consistent throughout the program's execution. For example, if a tuple is passed to a function, the function cannot modify its contents, ensuring the original data remains intact.

# Question 8--What is a hash table, and how does it relate to dictionaries in Python?

Answer 8--A hash function is a function that can map a piece of data of any length to a fixed-length value, called hash.

Hash functions have three major characteristics:

They are fast to compute: calculate the hash of a piece of data have to be a fast operation.
They are deterministic: the same string will always produce the same hash.
They produce fixed-length values: it doesn’t matter if your input is one, ten, or ten thousand bytes, the resulting hash will be always of a fixed, predetermined length.

 A dictionary is a general concept that maps keys to values. There are many ways to implement such a mapping.

A hashtable is a specific way to implement a dictionary

# Question 9-- Can lists contain different data types in Python?

Answer 9 --Lists are one of the most commonly used data structures in Python. They are ordered, mutable, and can store elements of mixed types while allowing duplicates.

# QUESTION 10-  Explain why strings are immutable in PythonP

Answer 10-   strings are immutable, meaning their content cannot be changed after they are created. This immutability ensures that once a string object is instantiated, its value remains constant throughout its lifetime.

 Hashability: Immutable objects, like strings, can be used as keys in dictionaries because their hash values remain constant. This ensures reliable key-value mapping.

Memory Optimization: Python can reuse immutable objects, reducing memory overhead. For instance, identical strings may point to the same memory location.

Thread Safety: Since immutable objects cannot be modified, they are inherently safe for concurrent access in multi-threaded environments.

Predictability: Immutable objects prevent unexpected changes, making debugging and reasoning about code easier.

# QUESTION 11-- What advantages do dictionaries offer over lists for certain tasks?

ANSWER 11-- A key advantage of using dictionaries over lists in Python is their efficiency in searching and accessing elements. Dictionaries are implemented as hash tables, allowing for constant time complexity (O(1)) when retrieving a value using its key. In contrast, lists require a linear search (O(n)), which becomes slower as the list grows larger.

# Question 12- Describe a scenario where using a tuple would be preferable over a list

Answer 12-- Using a tuple is preferable over a list in scenarios where immutability, performance, or memory efficiency is important. Here's an example:

Scenario: Storing GPS Coordinates
If you're working with a program that processes geographical data, such as storing the latitude and longitude of a location, a tuple is ideal. For instance:

location = (26.8467, 80.9462)  # Latitude and Longitude of a city
  
  GPS coordinates are fixed and should not be accidentally modified. Tuples ensure the data remains unchanged.

# Question 13--  How do sets handle duplicate values in Python?

Answer 13--- In Python, sets automatically handle duplicate values by removing them.

When you add elements to a set, it ensures that only unique items are stored. If you try to add a duplicate value, it will simply be ignored, and the set will remain unchanged.

# Question 14 --  How does the “in” keyword work differently for lists and dictionaries?

Answer 14-- The in keyword in Python is used to check for membership, but its behavior and efficiency differ depending on the data structure it is applied to, such as lists and dictionaries.

in with Lists

When used with a list, the in keyword checks if a value exists within the list. This operation involves iterating through the list sequentially and comparing each element with the target value.

Example:

my_list = [1, 2, 3, 4]

print(3 in my_list) # Output: True

print(5 in my_list) # Output: False

When used with a dictionary, the in keyword checks for the presence of a key, not a value. If you want to check for a value, you need to use the .values() method explicitly.

Example:

my_dict = {'a': 1, 'b': 2, 'c': 3}

print('a' in my_dict) # Output: True (checks for key)

print(1 in my_dict) # Output: False (does not check values)

print(1 in my_dict.values()) # Output: True (checks values)

# Question 15--Can you modify the elements of a tuple? Explain why or why not?

Answer 15-- Tuples in Python are immutable, meaning their elements cannot be changed directly. tuples are immutable, meaning their contents cannot be directly modified after creation. This immutability is a key characteristic of tuples, making them ideal for storing data that should remain constant throughout the program's execution.

Tuples are designed to be immutable for reasons such as memory efficiency and data integrity. Once a tuple is created, its size and contents are fixed. This allows Python to optimize memory usage and enables features like interning, where identical tuples can share memory.

# QUESTION 16-What is a nested dictionary, and give an example of its use case?

Answer 16- A nested dictionary is a dictionary that contains another dictionary as a value. It helps organize complex or grouped data, like student details or product info in a clean and structured way

# Question 17-- Describe the time complexity of accessing elements in a dictionary?

Answer 17-- When you access a dictionary key, Python computes the hash of the key using the hash() function. This hash value determines the index in the underlying hash table where the value is stored. Since this process involves direct indexing, it is independent of the dictionary's size, resulting in O(1) complexity.

# Question 18-- In what situations are lists preferred over dictionaries?

Answer 18--for large-scale searches and deletions, dictionaries outperform lists. For sequential access and storage efficiency, lists are preferable.

# Question 19--Why are dictionaries considered unordered, and how does that affect data retrieval?

ANSWER 19--Dictionaries in Python are often referred to as unordered collections because they do not guarantee any specific order of their elements based on insertion or key values. This characteristic stems from their underlying implementation as hash tables, which prioritize fast key-based lookups over maintaining order.

# Question 20--Explain the difference between a list and a dictionary in terms of data retrieval.

Answer 20 - In lists, we retrieve data using their index, which is their position in the ordered sequence. For example, my_list[0] would give us the first element. This means that accessing an element in a list requires iterating through the list until the correct index is found, which can take longer for larger lists (linear time complexity).

 In dictionaries, we retrieve data using their keys. For example, my_dict['key'] would give us the value associated with 'key'. Dictionaries use a hash table internally, which allows for very fast access to values based on their keys, regardless of how many items are in the dictionary (constant time complexity).

# **PRACTICAL** **QUESTION**

Question 1-Write a code to create a string with your name and print it

In [ ]:
input_str= input(" enter your name")
print ("my name is", input_str)

 enter your nameraj
my name is raj

Question 2- Write a code to find the length of the string "Hello World".

In [ ]:
input_str= "hello world"
print(len(input_str))

11

Question 3- Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
input_str= input("enter the string")
print(input_str[0:3])

enter the stringrajasingh
raj

Question 4 -  Write a code to convert the string "hello" to uppercase.

In [ ]:
input_str= input("enter the string")
print(input_str.upper())

enter the stringraj
RAJ

Question 5- Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
input_str= "i like apple"
print(input_str.replace("apple","orange"))

i like orange

Question 6- Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
input_list=[1,2,3,4,5]
print(input_list)

[1, 2, 3, 4, 5]

Question 7 --Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
input_list=[1,2,3,4]
input_list.append(10)
print(input_list)

[1, 2, 3, 4, 10]

Question 8- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
input_list=[1,2,3,4,5]
input_list.remove(3)
print(input_list)

[1, 2, 4, 5]

Question 9--  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
input_list=['a','b','c','d']
print(input_list[1])

b

Question 10-- Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
input_list=[10,20,30,40,50]
print(input_list[::-1])

[50, 40, 30, 20, 10]

Question 11--  Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
input_tuple = (100, 200, 300)
print(input_tuple)

(100, 200, 300)

Question 12-- Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
input_tuple=("red","green","blue","yellow")
print(input_tuple[-2])

blue

Question 13-- Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
input_tuple=(10,20,5,15)
print(min(input_tuple))

5

Question 14-- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
input_tuple=('dog','cat','rabbit')
print(input_tuple.index('cat'))

1

Question 15-- Write a code to create a tuple containing three different fruits and check if "kiwi" is in it .

In [2]:
fruits_tuple = ("apple", "banana", "orange")
print("kiwi" in fruits_tuple)

False

Question 16-- Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
input_set={"a","b","c"}
print(input_set)

{'c', 'a', 'b'}

Question 17-- Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
input_set={1,2,3,4,5}
input_set.clear()
print(input_set)

set()

QUestion 18-- Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
input_set={1,2,3,4}
input_set.remove(4)
print(input_set)

{1, 2, 3}

QUESTION 19--Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
input_set1={1,2,3}
input_set2={3,4,5}
print(input_set1.union(input_set2))

{1, 2, 3, 4, 5}

Question 20- Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

Question 21-- Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
input_dict = {"name":"raj", "age":21, "city":"gorakhpur" }
print(input_dict)

{'name': 'raj', 'age': 21, 'city': 'gorakhpur'}

Question 22-- Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
input_dict={'name':'john','age':25}
input_dict['country']='USA'
print(input_dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

Question 23 --Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
input_dict = {'name':'alice','age':30}
print(input_dict['name'])

alice

Question 24-- Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
input_dict={'name':'bob','age':22,'city':'new york'}
input_dict.pop('age')
print(input_dict)

{'name': 'bob', 'city': 'new york'}

Question 25-- Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
input_dict={'name':'bob','age':22,'city':'new york'}
input_dict.pop('age')
print(input_dict)

{'name': 'bob', 'city': 'new york'}

Question 26-- Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
input_list=[1,2,3,4]
input_tuple=(1,2,3,4)
input_dict={'name':'raj','age':21}
print(input_list)
print(input_tuple)
print(input_dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'raj', 'age': 21}

Question 27-- Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print(random_numbers)

[2, 33, 44, 72, 77]

Question 28-- Write a code to create a list with strings and print the element at the third index.

In [ ]:
input_list=["raj","ravi","rakesh","rohan"]
print(input_list[3])

rohan

Question 29--. Write a code to combine two dictionaries into one and print the result.

In [ ]:
input_dict1={'name':'raj','age':21}
input_dict2={'name':'ravi','age':22}
input_dict1.update(input_dict2)
print(input_dict1)

{'name': 'ravi', 'age': 22}

Question 30 -- Write a code to convert a list of strings into a set.

In [1]:
list_of_strings = ["apple", "banana", "cherry", "apple"]
set_of_strings = set(list_of_strings)
print(set_of_strings)

{'cherry', 'banana', 'apple'}